@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
}

@theme {
  --font-machina: 'Neue Machina';
  --font-raleway: 'Raleway';
  --font-rethink: 'Rethink Sans', sans-serif;
}

html,
body {
  font-family: var(--font-rethink), sans-serif;
}
